
:global(html), :global(body) {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}

:root {
  font-size: 14px;
}

:global(#app) {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--background);
  color: var(--foreground);
  overflow: hidden;
}

h1 { font-size: ms(3); }
h2 { font-size: ms(2.5); }
h3 { font-size: ms(2); }
h4 { font-size: ms(1.5); }
h5 { font-size: ms(1); }
h6 { font-size: ms(0.5); }

* { font-family: Roboto, sans-serif; }
