
$breakpointMap: (
  mobile: 425px,
  tablet: 768px,
  laptop: 1440px
);

@define-mixin breakpoint $name: mobile, $direction: max-width {
  @media ($(direction): mapGet($breakpointMap, $name)) {
    @mixin-content;
  }
}

/* WHY CAN'T I HAVE NICE THINGS KEVIN!!! */
@define-mixin visuallyHidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}